body {
	background-color: #4B363D;
}

.main {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(205, 209, 193, 1);
  padding: 30px;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.25;
}

.primary-content  {
    max-width: 700px;
    padding: 20px;
    display: block; 
    background-color: #333
}

pre.prettyprint{
	border: 0;
}

.content  {
    max-width: 700px;
    margin-right: auto;
  	margin-left: auto;
  	margin-top: 20px;
  	margin-bottom: 40px;
}

#trace_example,  #trace_example2, #trace_example3, #trace_example4, a, a:visited {
	
    padding: 0px 2px;
    font-size: 1.2em;
    text-decoration: none;
    background: none repeat scroll 0% 0% #F7F7BB;
    color: #330;
}


#example_title {
	padding: 20px;
	text-align: center;
	height: 70px;	
}

.example  {
	width: 300px;
	height: 50px;
	padding: 20px;
	text-align: center;	
	border: 1px solid #E1E1E8;
}

#example31  {
	width: 150px;
	height: 100px;
	padding: 20px;
	text-align: center;	
}

.example3span  {
//	margin-right: 200px;
//	float: right;
	padding: 30px;
	text-align: center;	
}

.footer{
	margin-top: 40px;
	text-align: center;	
}
